<div x-data="{ atTop: false }">
  <button
    id="scrollToTop"
    name="scroll to top button"
    aria-label="scroll to top button"
    class="fixed z-50 w-10 h-10 font-bold text-center text-white transition-all duration-1000 ease-in-out transform bg-purple-600 rounded-full cursor-pointer animate-bounce bottom-24 right-8 focus:outline-none"
    :class="{ 'opacity-0 translate-y-24': !atTop, 'opacity-1 translate-y-2' :  atTop}"
    @click="window.scrollTo({ top: 0, behavior: 'smooth'})"
    @scroll.window="atTop = (window.pageYOffset > 200) ? true : false"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z"
      />
    </svg>
  </button>
</div>
